.footer {
  text-decoration: none;
  color: #ffffff;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  width:100%;
}
.footer__direction {

  // justify-content: center;
  // flex-direction: column;
  // gap:60px;
 
 width: 100%;
 margin: 0 auto;
@media screen and (min-width:768px) {
  // flex-direction: row;
  // flex-wrap: wrap;
  align-items: flex-start;
   display: flex;
flex-wrap: wrap;
  align-items: center;
  //  flex-wrap: wrap;
  //   padding-left: 76px;
  //   padding-right: 89px;
    justify-content: space-around;
    align-items: baseline;
}
@media screen and (min-width:1200px) {
  
  display: flex;
  padding-left: 15px;
    padding-right: 15px;
  flex-wrap: nowrap;
  width: 90%;


}
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  // @media screen and (min-width:768px){
  //   margin-right: 76px;
  // }
  @media screen and (min-width:1200px) {
align-items: flex-start;
  // justify-content: flex-start;
   margin-right: 70px;
    margin-bottom: 0;
}
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 9px;
@media screen and (min-width:1200px){
  align-items:flex-start
}}
  
//   @media screen and (max-width:1200px) {
//     margin-top: 20px;
// align-items: center;
//   justify-content: flex-start;
//   width: 246px;
//   font-size: 14px;
// line-height: 24px;
// /* or 171% */

// letter-spacing: 0.03em;



.footer__contact {
  color: #ffffff;
  opacity: 0.6;
  background-color: #2f303a;
  line-height: 1.7;
  font-size: 14;
  transition: color var(--animation);
&:hover {
  color: var(--beside-color);
}
}
.sidebar {
  
 
  
 display: flex;
 flex-direction: column;
 gap: 20px;
 justify-content: center;
margin-bottom: 30px;
align-items: center;
   @media screen and (min-width:1200px) {
    // margin-right:78px;
  //  align-items: center;
align-items: flex-start;
  justify-content: flex-start;
}

}
.sidebar__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white_color);
  text-align: center;
}




