.newsletter{
    margin: 0 auto;
  @media screen and (min-width:1200px) {
    margin: 0;
  }
}
.newsletter__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white_color);
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width:1200px){
      text-align: left;
  }
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  // gap:20px;
  justify-content: center;
  align-items: center;

    @media screen and (min-width:1200px){
      // flex-direction: row;
      // justify-content: space-between;
      display: flex;
  }
}

.newsletter__input {
  display: block;
  width:100%;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  margin-bottom: 20px;
   @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width:1200px) {
    width: 358px;
    margin-bottom: 0;
    display: inline-block;
    margin-right: 12px;
  }
}
.newsletter__btn {
    @extend %button;
  display: inline-flex;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  // margin-left: 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  // width: 200px;
  // height:50px;
}

.newsletter__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #fff;
}