.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-grow: 1;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;}


.banner__text-container {
    max-width: 696px;
  margin: 0 auto;  text-align: center;
 
}

.banner__title {
  font-size: 44px;
  line-height: 1.3;

  color: white;

  margin-bottom: 30px;
}
.banner__button {
  @extend %button;
  padding: 15px 32px;
  
  width: 200px;
}
