.logo {
  display: flex;
  align-items: center;
  // margin-right: 88px;
  flex-direction: row;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
justify-content: center;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    text-align: left;
    justify-content: left;
  }
}

.logo__header {
  background-color: #ffffff;
  transition: color var(--animation);
  font-style: 700;
  text-align: center;
  vertical-align: top;
  color: black;
  list-style-type: none;
  &:hover {
    color: var(--beside-color);
  }
}
.logo__web {
  color: var(--beside-color);
}
.logo__web--white {
  color: #ffffff;
}
.logo__footer {
 margin-bottom: 20px;
  background-color: #2f303a;
  &:hover {
    color: var(--beside-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    text-align: left;
  }

}
