.members {
  @extend %section;
  background-color: #f5f4fa;
  
&__title {
@extend %title;
margin-bottom: 50px;
}
&__list{
  // margin: 0 auto;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  flex-direction:column;  
  //  padding-bottom: 24px; 
  gap: 30px;

    margin: -15px;
 display:flex;
 flex-wrap: wrap;
 
}
 &__list > &__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
  width:100%;
  flex: 0 0 calc(100% - 30px);
 max-width: calc(100% - 30px);
   margin: 15px;
 
   @media screen and(min-width:768px) {
   flex: 0 0 calc(50% - 30px);
 max-width: calc(50% - 30px)}

   @media screen and(min-width:1200px) {
  flex: 0 0 calc(25% - 30px);
 max-width: calc(25% - 30px);

}}}


.member__title {
  color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.member__desc {
  font-size: 16px;
  color: var(--brand-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}


