.navigation {

         
  @media screen and (min-width:767px) {
display: flex;

  }

}

.navigation__list {
  display: flex;
  flex-direction: column;
gap: 32px;
  align-items: flex-start;
   
   @media screen and ( min-width: 768px) {
         flex-direction: row;
         align-items: center;
   gap: 46px;}
}
.navigation__link {
  display: flex;
  align-items: center; 
   font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
  color: #212121;
  &:hover {
    color: var(--beside-color);
  }

     @media screen and ( min-width: 768px) {
      
font-size: 14px;
line-height: 16px;

   }
}

.navigation__link--active {
  @media screen and (min-width: 768px)
     {
     color: var(--beside-color);
    position: relative;

   &::after {
      content: "";
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    border-top: 4px solid var(--beside-color);
    border-radius: 2px;
     }     

    }

   @media screen  and  (min-width:1200px){
      &::after {
       bottom: -32px;
    }
  }
}
