.skills{
    @extend %section;
padding-bottom: 94px;
  
@media screen and (min-width:768px) {
 padding-bottom: 45px;}

&__list {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  @media screen and (min-width:768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width:1200px) {
    
    flex-wrap:nowrap;
  }
  
  
  }
&__item {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap:10px;
 width:100%;
 max-width:450px;

  
@media screen and (min-width:768px) {
 max-width: 354px;
 
}
@media screen and (min-width:1200px) {
  max-width:270px;
  
}}}


.skill__container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  // max-width: 270px;
  width:100%;
  min-height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 20px;
}
.skill__icon {
  width: 70px;
  height: 70px;
}
.skill__title {

  color: black;
  font-size: 14px;
  line-height: 1.1;
  display: flex;
  margin-bottom: 10px;
  text-align: center;
  
@media screen and (min-width:768px) {
  text-align: left;
}}

.skill__txt {
  font-size: 14px;
  line-height: 1.7;
  color: var(--brand-color);
  display: flex;
 
}