.skills{
    @extend %section;
padding-bottom: 65px;
  
@media screen and (min-width:768px) {
 padding-bottom: 45px;}

&__list {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin:-15px;
  // gap: 30px;
  @media screen and (min-width:768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width:1200px) {
    
    flex-wrap:nowrap;
  }
  
  
  }
&__item {
 display: flex;
 flex-direction: column;
 align-items: center;
//  gap:10px;
 width:100%;
 max-width:450px;
margin: 15px;
  flex: 0 0 calc(100% - 30px);
 max-width: calc(100% - 30px);

  
@media screen and (min-width:768px) {
//  max-width: 354px;
  flex: 0 0 calc(50% - 30px);
 max-width: calc(50% - 30px);
}
@media screen and (min-width:1200px) {
  // max-width:270px;
   flex: 0 0 calc(25% - 30px);
 max-width: calc(25% - 30px);
}}}


.skill__container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  // max-width: 270px;
  width:100%;
  min-height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.skill__icon {
  width: 70px;
  height: 70px;
}
.skill__title {

  color: black;
  font-size: 14px;
  line-height: 1.1;
  display: flex;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;

  
@media screen and (min-width:768px) {
  text-align: left;
}}

.skill__txt {
  font-size: 14px;
  line-height: 1.7;
  color: var(--brand-color);
  display: flex;
  letter-spacing: 0.03em;
 
}