.solutions{
  @media screen and (max-width:1199px){
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(1px 1px 1px 1px);
  }
    @extend %section;
   padding-top:0px;
}
.solutions__title {
  @extend %title;
  margin-bottom: 50px;
}
.solutions__list{
  display: flex;
  gap: 30px;

}
.solutions__item {
  position: relative;
   border-radius: 4px;
   overflow: hidden;
}

.solution__desc {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}